.loginBox {
  top: 200px;
  text-align: center;
  position: relative;
  .inputBox {
    width: 240px;
    display: inline-block;
  }
  .loginBox input[type="submit"] {
    position: relative;
    top: -12px;
    height: 44px;
    padding-left: 5px;
    padding-right: 5px;
  }
  input[type="submit"] {
    position: relative;
    top: -13px;
    height: 44px;
  }
  label {
    width: 40px;
    display: inline-block;
  }
  .autoLoginBox {
    font-size: 13px;
  }
}