.reviewWriteBox {
  text-align: center;
  h3 {
    margin-top: 20px;
  }
  input[type="text"] {
    width: 400px;
    padding: 2px;
    margin-top: 30px;
  }
  textarea {
    width: 500px;
    height: 300px;
    margin-top: 10px;
  }
  .header {
    margin-bottom: 25px;
  }
  .body label {
    position: relative;
    left: -230px;
  }
}
.reviewWritButton{
  padding: 7px 35px;
  text-align: center;
  transform: translate(-50%);
  position: relative;
  left: 50%;
  top: 20px;
}